body {
  background-color: white;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
}

p {
  color: #adadad;
}

h1 {
    color: black;
    font-family: 'Big Shoulders Stencil Display', cursive;
}

h2 {
  color: white;
}

h3 {
  color: #adadad;
}

h4 {
  color: #adadad;
}

a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: #adadad;
}

/* selected link */
a:active {
  color: black;
}

ol{
  color: #adadad;
}

.typeWriterButton {
  width: 100px;
  border-radius: 10px;
  display: inline-block;
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
  border: 0px solid black;
}

.typeWriterButton:hover {
  cursor: pointer;  
}

.typeWriterButtonHighlight {
  background-color: gray;
}

.title {
  margin: auto;
  width: 100%;
  border: 0px;
  padding: 10px;
  text-align: center;
}

.subTitle {
  font-size: 0.85rem;
  margin-top: 0px;
}

.mainBlock {
  margin: 0px;
  width: 100%;
  border: 0px;
  padding: 0px;
  text-align: center;
}

.footerBlock {
  margin: auto;
  width: 100%;
  border: 0px;
  padding: 10px;
  text-align: center;
}