body {
  background: white;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
}

p {
  color: black;
}

h1 {
    color: black;
    font-family: 'Big Shoulders Stencil Display', cursive;
    margin-bottom: 0px;
}

h2 h3 h4 {
  color: black;
}

a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: grey;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: gray;
}

/* selected link */
a:active {
  color: grey;
}

.img {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

ol{
  color: black;
}

.displayButton {
  width: 150px;
  border-radius: 10px;
  display: inline-block;
  background: black;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
  border: 0px solid black;
}

.actionButton {
  width: 150px;
  border-radius: 0px;
  display: inline-block;
  background: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  border: 0px solid black;
  cursor: pointer;
  
}

.activeMenuButton {
  width: auto;
  border-radius: 0px;
  display: inline-block;
  background: white;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid black;
  cursor: default;
}

.menuButton {
  width: auto;
  border-radius: 0px;
  display: inline-block;
  background: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid black;
}

.menuButton:link {
  color: white;
}

.menuButton:visited {
  color: white;
}

.menuButton:hover {
  color: white;
}

.menu {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  border: 0px;
  padding: 0px;
  text-align: center;
}

.title {
  margin: auto;
  width: 360px;
  border: 0px;
  padding: 0px;
  text-align: center;
}

.subTitle {
  font-size: 0.85rem;
  color: gray;
}

.mainBlock {
  margin: auto;
  width: 100%;
  border: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
  text-align: center;
}

.imageTable {
  margin: auto;
  width: 300px;
  padding: 0px;
}

.descriptionBlock {
  margin: auto;
  width: 360px;
  border: 0px;
  padding: 0px;
  text-align: left; 
}

.iFrameBlock {
  text-align: center;
}

.footerBlock {
  margin: auto;
  width: 360;
  border: 0px;
  padding: 0px;
  text-align: center;
  font-size: 0.85em;
}

.hexLocation {
  margin: 0px;
  height: 30px;
}

.imageBox:link {
  color: black;
}

.imageBox:visited {
  color: black;
}

.imageBox:hover {
  color: grey;
}

.gridWrapper {
  background-color: white;
  display: grid;
  grid-template-columns: 20px 100px 100px 100px 20px;
  gap: 5px;
}

.gridSpace {
  border-radius: 0px;
  display: inline-block;
  background-color: white;
}

.gridItem {
  width: 98px;
  height: 98px;
  border-radius: 0px;
  display: inline-block;
  background-color: lightgray;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
  cursor: pointer;
}

.formItem {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
}

.iconImage {
  height: 15px;
}

.followImage {
  height: 20px;
}

.headerIcon {
  height: 20px;
  width: 20px;
  border-radius: 0px;
  display: inline-block;
  background: white;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
  border: 1px solid white;
}