body {
  background-color: white;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
}

p {
  color: black;
}

h1 {
    color: black;
    font-family: 'Big Shoulders Stencil Display', cursive;
}

h2 {
  color: white;
}

h3 h4 {
  color: black;
}

a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: gray;
}

/* visited link */
a:visited {
  color: gray;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: black;
}

ol{
  color: black;
}

.displayButton {
  width: 150px;
  border-radius: 10px;
  display: inline-block;
  background-color: black;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
  border: 0px solid black;
}

.linkButton {
  width: 125px;
  border-radius: 10px;
  display: inline-block;
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
  border: 0px solid black;
  cursor: pointer;
}

.actionButton {
  width: 125px;
  border-radius: 10px;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
  border: 0px solid black;
  cursor: pointer;
}

.actionButtonOff {
  background-color: black;
  color: white;
}

.actionButtonOn {
  background-color: red;
  color: black;
}

.mapArea:hover {
  cursor: pointer;
}

.title {
  margin: auto;
  width: 100%;
  border: 0px;
  padding: 10px;
  text-align: center;
}

.subTitle {
  font-size: 0.85rem;
  margin-top: 0px;
  color: gray;
}

.mainBlock {
  margin: 0px;
  width: 100%;
  border: 0px;
  padding: 0px;
  text-align: center;
}

.descriptionBlock {
  margin: auto;
  width: 50%;
  border: 0px;
  padding: 0px;
  text-align: left; 
}

.footerBlock {
  margin: auto;
  width: 100%;
  border: 0px;
  padding: 10px;
  text-align: center;
}